<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>T H E  G R I D</title>
  <meta name="description" content="An very basic example of how to use the Wookmark jQuery plug-in.">
  <meta name="author" content="Christoph Ono, Sebastian Helzle">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/static/grid/css/reset.css">
  <link rel="stylesheet" href="/static/grid/css/main.css">

  <style>
   html {
     background-color: white;
     background-repeat: repeat;
   }
  </style>

</head>

<body>

  <div id="container">
    <header>
      <h1>Recent Images from #{{ channel }}</h1>
    </header>
    <div id="main" role="main">


      <ul id="tiles">
      {% for url in urls %}
      {% if url.type == "image" %}
        <li class="shadow">
	  <a href="{{ url.url }}"><img src="{{ url.url }}" width="200" style="max-height: 300px"></a>
	  <p>Posted by {{ url.user }}</p>
	</li>
      {% endif %}
      {% endfor %}
      </ul>



    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.wookmark/1.3.1/jquery.wookmark.min.js"></script>
  <script src="/static/js/reconnecting-websocket.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script>

  {% raw %}
  <script id="entry-tmpl" type="text/x-handlebars-template">
    <li>
      <a href="{{url}}"><img src="{{url}}" width=200" style="max-height: 300px"></a>
      <p>Posted by {{user}}</p>
    </li>
  </script>
  {% endraw %}

  <script type="text/javascript">
   var urlstream = new ReconnectingWebSocket('ws://' + location.host + '/urls');
   var options = {
     autoResize: true, // This will auto-update the layout when the browser window is resized.
     container: $('#main'), // Optional, used for some extra CSS styling
     offset: 10, // Optional, the distance between grid items
     outerOffset: 10, // Optional, the distance to the containers border
     itemWidth: 210 // Optional, the width of a grid item
   };

   function applyLayout() {
     var handler = $('#tiles li');
     handler.wookmark(options);
   };


   urlstream.onmessage = function(message) {
     if (message.type === "message") {
       var data = $.parseJSON(message.data);
       if (data.type == "image") {
	 var tmplsrc = $("#entry-tmpl").html();
	 var tmpl = Handlebars.compile(tmplsrc);
	 var entry = tmpl(data);
	 $(entry).hide().prependTo("#tiles").fadeIn();
	 applyLayout();
       };
     };
   };

   $(window).load(function() {
     applyLayout();
   });
  </script>

</body>
</html>
