{% extends "base.html" %}

{% block subtitle %}Home{% endblock %}

{% block content %}
<div class="row">
  <div id="log" style="margin-top: 100px;" class="col-md-4">
  </div>

  <div id="channel-list" class="col-md-4">
    <h1>Siri Stats</h1>

    {% if active %}
    <ul class="active">
      <h3>Active Channels</h3>
      {% for chan in active %}
      <li class="channel">
	<h4>#{{ chan }}</h4>
	<ul class="sublist">
	  <li><a href="/grid/{{ chan }}">Images</a></li>
	  <li><a href="/rss/{{ chan }}.atom">RSS</a></li>
	</ul>
      </li>
      {% endfor %}
    </ul>

    <br />
    {% endif %}

    <ul>
      <h3>All Channels</h3>
      {% for chan in all_chans %}
      <li class="channel">
	<h4>#{{ chan }}</h4>
	<ul class="sublist">
	  <li><a href="/grid/{{ chan }}">Images</a></li>
	  <li><a href="/rss/{{ chan }}.atom">RSS</a></li>
	</ul>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/reconnecting-websocket.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script>

<script>
 function logText(data) {
   var message = $("<p>#" + data.channel + " | " + data.user + ": " + data.content + "</p>");
   message.hide();
   $("#log").append(message);
   $(message).fadeIn("slow").fadeOut(2000);
 };
 
 var logstream = new ReconnectingWebSocket('ws://' + location.host + '/chat');
 logstream.onmessage = function(message) {
   if (message.type === 'message') {
     var data = $.parseJSON(message.data);
     logText(data);
   }
 };
</script>
{% endblock %}
